{{> enTete}}
{{> menu}}
<p>
  {{#if ajoutOK}}
    <img src="/image/valid.png" alt="Valide!" >
    La citation a bien était ajouté!
  {{else}}
    <img src="/image/erreur.png"/>
    La citation n'a pu être ajouté...!
  {{/if}}
</p>
