{{> enTete}}
{{> menu}}
<h1> Ajouter une citation</h1>

<form method="POST" action="/verifCitation">
  <fieldset>
    <label for="enseignant">Enseignant : </label>
    <select name="enseignant">
      {{#each listeSalaries}}
        <option value="{{this.per_num}}">{{this.per_nom}}
      {{/each}}
    </select>
    <br/>

    <label for="date">Date Citation : </label>
    <input type="text" name="date"/>
    <br/>

    <label for="citation">Citation : </label>
    <textarea name="citation" rows=2></textarea>
  </fieldset>

  <input type="submit" value="Valider"/>
</form>
