{{> enTete}}
{{> menu}}

<p>
  {{#if connexionOk}}
    <img src="/image/valid.png" alt="Valide!" >
    Merci, vous êtes connecté {{session.per_login}}
  {{else}}
    <img src="/image/erreur.png"/>
    Echec de la connexion!
  {{/if}}
</p>
<div id="redirection"></div>
