{{> enTete}}
{{> menu}}

<h1>Modifier une personne</h1>

<div>
  <p>
    Il y a actuellement {{nbPersonne}} personnes enregistrées.
  </p>

  <table>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Modifier</th>
    </tr>
    {{#each listePersonne}} <!--  parcours de listePersonne -->
      <tr>
        <td>{{this.per_nom}}</td>
        <td>{{this.per_prenom}}</td>
        <td><a href="/modifierPersonne2/{{this.per_num}}" title="Cliquez pour modifier cette personne"><img src="/image/modifier.png"/></a></td>
      </tr>
    {{/each}}
  </table>

  <p>
    Choisissez la personne à modifier.
  </p>
</div>
