{{> enTete}}
{{> menu}}
<h1>Modifier une personne</h1>

<form method="post" action="/modifierPersonne3">
  <fieldset>
    <legend>Authentification</legend>
    <label for="login">Nom de l'utilisateur : </label>
    <span>{{login}}</span>
    </br>
    <label for="pass">Mot de passe : </label>
    <input id="pass" name="pass" type="password"/>
  </br>
  </fieldset>
  <input type="submit" value="Valider"/>
</form>
