{{> enTete}}
{{> menu}}
<h1>Noter une citation</h1>

<form method="post" action="/noterCitationOk/{{this.idCitation}}" name="noteCitation">
  <fieldset>
    <legend>Votre note</legend>

    <input type="number" name="note" min="0" max="20"/><label>/20</label>
  </fieldset>

  <input type="submit" value="Valider"/>
</form>
