{{> enTete}}
{{> menu}}

<h1>Supprimer une ville</h1>

<div>
  {{#if supprOk}}
    <img src="/image/valid.png"/>
    La ville "{{nomVille}}" a été supprimée avec succès.
  {{else}}
    <img src="/image/erreur.png"/>
    La ville "{{nomVille}}" n'a pas pu être supprimée car elle est encore utilisée par un département...
  {{/if}}
</div>
