{{> enTete}}
{{> menu}}

<h1>Supprimer une ville</h1>

<div>
  {{#if supprOk}}
    <img src="/image/valid.png"/>
    La ville "<b>{{nomVille}}</b>" a été supprimée avec succès.
  {{else}}
    <img src="/image/erreur.png"/>
    La ville "<b>{{nomVille}}</b>" n'a pas pu être supprimée car elle est encore utilisée par un département...
  {{/if}}
</div>
